*{
    margin: 0px;
    padding: 0px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    text-align: center;
    line-height: 100px;
}
.container-header{
    width: 100%;
    height: 100px;
    background-color: aqua;
}

main {
    margin-top: 100px;
    text-align: center;
}

.container-section-promo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 100px auto;
}

.item-article {
    width: 30%;
    height: 100px;
    background-color: aqua;
}

.explanatory-video{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}
